<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Your Secrets</h1>
    <hr>

    <% if (secrets.length > 0) { %>
      <% secrets.forEach(secretObj => { %>
        <div class="secret-entry" style="margin-bottom: 2rem;">
          <div style="display: flex; align-items: center; gap: 10px;">
            <img src="<%= photo %>" referrerpolicy="no-referrer" style="width: 40px; height: 40px; border-radius: 0% ;" alt="Profile Pic" />

            <strong><%= displayName %></strong>
          </div>
          <p class="secret-text" style="margin-top: 10px;"><%= secretObj.secret %></p>
        </div>
      <% }) %>
    <% } else { %>
      <p class="secret-text"><%= noSecret %></p>
    <% } %>

    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
